<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Тест!</title>

        <style type="text/css">
            html {
                background: darkgoldenrod;
            }
            div {
                background: #FFFFFF;
                padding: 5px;
            }
            .red {
                color: red;
            }
            .left {
                margin-left: 100px;
                display: block
            }
            .section {
                background: #b8cfe8;
            }
            #fourth {
                color: green;
            }
        </style>
    </head>

    <body>
        <div id="main_content">
            <p class="red section">1 параграф?</p>
            <p id="some" class="section">
                <a href="./">2, <b>кликабельный</b>, параграф</a>
            </p>
<!--            <br>-->
<!--            <br/>-->
            <p class="red left section">3 параграф</p>
            <p id="fourth" class="section">4 параграф</p>
            <p>5 параграф</p>
        </div>
        <div>
    </body>
</html>